# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Miscellaneous
.idea/
*.sublime-project
*.sublime-workspace
